# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

| Data Science Tools |
| ------------------ |
| RStudio            |
| Apache Spark       |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

*This is a simple arithmetic expression to multiply then add integers*

In [3]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [4]:
200/60

3.3333333333333335

## Author
Sayon W. Kpargai